body {
  background-color: rgb(241, 243, 250);
}


.search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 599px;
}


.category-select {}

.category-opt-group {}

.category-option {}