body {
  padding: 1rem;
  background-color: rgb(241, 243, 250);
}

.root-navbar {
  display: grid;
  grid-template-columns: 3% 20% 20% auto 3%;
  gap: 1%;
}


.search-bar {
  border-radius: 0.5rem;
  padding: 0.1rem;
  padding-left: 0.5rem;
}

.custom-select {
  padding: 0.1rem;
  border-radius: 0.5rem;
}

.category-opt-group {}

.category-option {}