/* Navbar css */
.main-nav {
    background-color: white;
    border: 0px solid black;
    border-top-width: 3px;
    border-bottom-width: 3px;
    padding: 20px;
    display: flex;
    gap: 10%;
    align-items: center;
    margin-bottom: 5px;
    height: 10vh;
}

.nav-inner-div {
    display: flex;
    flex: 1;
    gap: 3%;
    align-items: center;
}

.nav-inner-div-dropdown {
    display: flex;
    gap: 10px;
}

.hm-menu-toggle {
    display: none !important;
}


.nav-ham-menu {
    display: none;
}

.search-div {
    display: flex;
    align-items: center;
    gap: 2%;
    flex: 1;
}

.root-navbar {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: white;
    border: 2px black solid;
}

.search-bar {
    max-width: 600px;
    height: 30px;
    border: solid 2px black;
    padding: 1rem;
    width: 100%;
    transition: all linear 100ms;
}

.search-bar:focus {
    box-shadow: 0 0 7px 2px #888888;
}

.search-bar:focus-visible {
    outline: none
}

.custom-select {
    border: solid 2px black;
    padding: 0.4rem;
    width: 45%;
    min-width: 90px;
    transition: all linear 100ms;
}

.profile-links {
    display: flex;
    width: 10%;
    justify-content: space-evenly;
    margin-right: 10px;
}

.profile-links a {
    color: black;
}

/* mini products */
.mini-product-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    transition: all linear 200ms;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-wrap: wrap;
    max-width: 300px;
}

.mini-product-main:hover {
    box-shadow: 0 0 8px 3px #7fc8d1;
}


.mini-product-image {
    object-fit: cover;
    position: relative !important;
    width: 300px !important;
    height: 300px !important;
}

.mini-pro-info {
    transition: all linear 200ms;
    box-shadow: inset 0 0 8px 3px #7fc8d1;
}

.mini-product-main:hover .mini-pro-info {
    box-shadow: none;
}

.mini-pro-info .name {
    color: rgb(78, 0, 0);
    font-weight: bold;
    font-size: 30px;
}


.mini-pro-info .description {
    font-size: 11px;
    color: rgb(167, 62, 21);
    display: inline-block;
    width: 70%;
}

.price-city-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.mini-pro-info .price {
    font-size: larger;
    font-weight: bold;
    color: rgb(78, 0, 0);
}


.nav-ham-bg.nav-ham-menu.hide-hm {
    display: none;
}




/* Product Main */

.main-product-page {
    display: grid;
    grid-template-columns: 50% auto;
    width: 100%;
    gap: 5%;
    height: 90vh;
}

.main-image-crou {
    border-right: 5px solid black;
    width: 100%;
    position: relative;
    height: 100%;
}

.product-info-right {
    height: auto;
    display: grid;
    align-content: center;
    gap: 2%;
}

.main-image-crou img {
    object-fit: contain;
}

.image-nav-dot {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 10px;
    left: 0;
    right: 0;
}

.img-dot {
    width: 20px;
    height: 20px;
    background-color: #615d5d;
    border-radius: 1rem;
    transition: all linear 400ms;
    cursor: pointer;
}

.img-dot.active {
    background-color: black;
}

.right-arr {
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(270deg);
    font-size: xx-large;
    cursor: pointer;
    transition: all linear 400ms;

}

.left-arr {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(90deg);
    font-size: xx-large;
    cursor: pointer;
    transition: all linear 400ms;
}

.edge-ind {
    color: #615d5d;
    pointer-events: none;

}

.main-image-crou img {
    transition: all linear 400ms;
}



.product-info-card {
    background-color: white;
    width: 80%;
    border: 4px solid black;
    padding: 0.5rem;
    text-align: justify;
    margin: auto;
}

@media only screen and (max-width: 831px) {

    /* Styles for small devices go here */
    .hide-hm {
        display: none;
    }

    .nav-ham-bg {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        height: 100%;
        z-index: 1;
    }

    .logo-link {
        display: none;
    }

    .hm-menu-toggle {
        display: block !important;
    }

    .nav-ham-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        height: 100vh;
        background-color: rgb(206 215 121);
        width: 60vw;
        transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        border-right: 2px solid black;
        box-shadow: none;
        min-width: 200px;
        overflow: scroll;
        scroll-behavior: smooth;
        z-index: 1;
    }

    .nav-ham-menu.hide-hm {
        left: -500px;
        opacity: 0;
    }

    .nav-ham-menu.show-hm {
        left: 0;
        box-shadow: 12px -1px 20px 0px #000000;
        opacity: 1;

    }

    .nav-inner-div-dropdown {
        display: none;
    }

    .nav-ham-menu .hm-menu-toggle {
        margin: 1rem;
    }

    .profile-links {
        display: none;
    }

    .nav-ham-menu .nav-bar-links {
        display: inline-block;
        width: 100%;
    }

    .nav-ham-menu .container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 11px;
        border-bottom: 1px solid black;
        padding: 1rem;
        background-color: rgb(207, 221, 80);
    }

    .nav-bar-links {
        color: black;
        text-decoration: none;
        text-align: center;
    }


    /* main product */

    .main-product-page {
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
    }


    /* .main-image-crou img {
        width: 200px;
        height: 200px;
    } */

}


@media only screen and (min-width: 832px) and (max-width: 1200px) {

    /* Styles for medium devices go here */
    .nav-inner-div-dropdown {
        flex-direction: column;
        gap: 2px;
        width: 15%;
    }

    .custom-select {
        font-size: small;
        padding: 0.1rem;
    }


    /* main product */

    /* .main-product-page {
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
    } */
}

@media only screen and (min-width: 1201px) {
    /* Styles for extra-large devices go here */
}