.account-container {
    display: grid;
    grid-template-columns: 200px auto;
    color: aliceblue;
    grid-gap: 5px;
    gap: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1300px;
    min-width: 970px;
    min-height: 800px;

}

/* left */
.account-left {
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.acc-nav-button {
    border: 3px #19d4ca solid;
    color: aliceblue;
    width: 100%;
    padding: 1rem;
    background: #0f0f1a;
    border-radius: 0.5rem;
    transition: all linear 400ms;
    font-size: medium;
    text-decoration: none;
    text-align: center;
}

.acc-nav-button.selected {
    border: 3px #19d4ca solid;
    background: #386981a3;

}

.acc-nav-button:hover {
    background: #386981a3;
}

/* left */

/* right */
.account-right {
    background-color: aliceblue;
    border-radius: 0.5rem;
    color: black;
}

/* right */



/* account-info-parent */

.account-info-parent {
    display: grid;
    grid-template-rows: 60px auto;
    text-align: center;
}

.account-info-header {
    padding: 1rem;
    color: aliceblue;
    background-color: #0f0f1a;
    height: 50px;
    font-size: x-large;
}

.acc-logout-button {
    float: right;
    cursor: pointer;
    transition: all linear 400ms;
}

.acc-logout-button:hover {
    scale: 135%;
}

.action {
    margin: 1rem;
}

.account-info-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    height: 100%;
}

.account-info-input {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.account-info-input span {
    font-size: x-large;
    margin: 1rem;
}

.account-info-input .global-text-input {
    width: 100%;
}

/* account-info-parent */

/* user-products */
.user-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    max-height: 800px;
    overflow: auto;
    padding: 1rem;
}

.user-products.no-products {
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
}

.user-products.no-products .cat {
    width: 100px;
    height: 100px;
}


.user-products.no-products svg {
    width: 30px;
}

/* user-products */


@media only screen and (max-width: 831px) {}

@media only screen and (min-width: 832px) and (max-width: 1200px) {
    .account-container {
        grid-template-rows: 50px auto;
        grid-template-columns: none;
        min-width: 810px;
    }

    .account-left {
        flex-direction: row;
        width: 80%;
        justify-self: center;
    }
}

@media only screen and (min-width: 1201px) {
    /* Styles for extra-large devices go here */
}