.account-container {
    display: grid;
    grid-template-columns: 200px auto;
    color: aliceblue;
    grid-gap: 5px;
    gap: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1300px;
    min-width: 970px;
    min-height: 800px;

}

/* left */
.account-left {
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.acc-nav-button {
    border: 3px #19d4ca solid;
    color: aliceblue;
    width: 100%;
    padding: 1rem;
    background: #0f0f1a;
    border-radius: 0.5rem;
    transition: all linear 400ms;
    font-size: medium;
    text-decoration: none;
    text-align: center;
}

.acc-nav-button.selected {
    border: 3px #19d4ca solid;
    background: #386981a3;

}

.acc-nav-button:hover {
    background: #386981a3;
}

/* left */

/* right */
.account-right {
    background-color: aliceblue;
    border-radius: 0.5rem;
    color: black;
}

/* right */



/* account-info-parent */

.account-info-parent {
    display: grid;
    grid-template-rows: 60px auto;
    text-align: center;
}

.account-info-header {
    padding: 1rem;
    color: aliceblue;
    background-color: #0f0f1a;
    height: 50px;
    font-size: x-large;
}

.acc-logout-button {
    float: right;
    cursor: pointer;
    transition: all linear 400ms;
}

.acc-logout-button:hover {
    scale: 135%;
}

.action {
    margin: 1rem;
}

.account-info-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    height: 100%;
}

.account-info-input {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.account-info-input span {
    font-size: x-large;
    margin: 1rem;
}

.account-info-input .global-text-input {
    width: 100%;
}

/* account-info-parent */

/* user-products */
.user-products-main {
    display: grid;
    grid-template-rows: 60px auto;
    text-align: center;
    height: 100%;
}

.user-products-main.no-grid-row{
    grid-template-rows:auto;

}

.user-product-header {
    padding: 1rem;
    color: aliceblue;
    background-color: #0f0f1a;
    height: 50px;
    font-size: x-large;
}

.user-product-header svg{
    float: right;
    color: aliceblue;
}

.user-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    max-height: 800px;
    overflow: auto;
    padding: 1rem;
}

.user-products.no-products {
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
}

.user-products.no-products .cat {
    width: 100px;
    height: 100px;
}


.user-products.no-products svg {
    width: 30px;
}

/* user-products */


/* new-product */

.new-product {
    display: grid;
    grid-template-rows: 200px 400px;
    text-align: center;
    place-content: center;
    padding: 1rem;
}

.new-product h1 {
    font-size: xx-large;
    font-weight: 600;
}

.new-product .nav-button {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.new-product .nav-button svg {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.new-produt-inputs {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.new-product-name {
    font-size: xx-large;
}

.new-product-name.price {
    width: 200px;
    text-align: center;
}

.new-product-description {
    font-size: medium;
    width: 600px;
    height: 300px;
}

.image-input {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-input svg {
    border: 3px black solid;
    border-width: thin;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.image-input .check {
    color: green;
}

/* new-product */

@media only screen and (max-width: 831px) {}

@media only screen and (min-width: 832px) and (max-width: 1200px) {
    .account-container {
        grid-template-rows: 50px auto;
        grid-template-columns: none;
        min-width: 810px;
    }

    .account-left {
        flex-direction: row;
        width: 80%;
        justify-self: center;
    }
}

@media only screen and (min-width: 1201px) {
    /* Styles for extra-large devices go here */
}