
.global-button {
    background-color: rgb(53, 53, 53);
    padding: 10px;
    color: white;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
  }
  
  .global-button.processing {
    cursor: wait;
    pointer-events: none;
  }
  
  .global-button:hover {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: white;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .spinner {
    animation: spin 1s linear infinite;
  }