.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  text-align: center;
  flex-direction: column;
  gap: 40px;
}

.card {
  width: 350px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.712);
}

.card.error {
  box-shadow: 0px 0px 20px 5px rgba(230, 62, 62, 0.555);
}

.login-container .card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
}

.login-container h1+h5 {
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}


@media only screen and (max-width: 831px) {
  .card {
    width: 100%;
    max-width: 300px;
  }

  .card:hover {
    transform: none;
  }
}